@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F9F9F9;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
a{
    position: relative;
    display: inline-block;
    padding: 24px 48px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;    
    border: 3px solid #8A2AE3;
    color: #8A2AE3;
    font-size: 16px;
    letter-spacing: 1px;
   
}
a:hover{
    background: #8A2AE3;
    color: #fff;
    box-shadow: 0 0 5px #8A2AE3,
                0 0 25px #8A2AE3,
                0 0 50px #8A2AE3,
                0 0 200px #8A2AE3;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}